#clock {
    text-align: center;
    position: relative;
    top: 50%;
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 10rem;
    margin-top: -5rem;
    color: #FFFFFF;
  }
  html, body {
    height: 100%;
  }
  